<component name="libraryTable">
  <library name="spring-security-remoting-5.2.1.RELEASE">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/lib/spring-security-remoting/5.2.1.RELEASE/spring-security-remoting-5.2.1.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>